<div class="orga">
    <div class="navbar">
      <img src="../assets/images/icon-location.png" alt="" class="location" />
      <span>{{ organisation?.location }}</span>
    </div>
    <div class="content">
      <h1>{{ organisation?.name }}</h1>
      <p>
        {{ organisation?.description }}
      </p>
      <button type="button" (click)="navToRepoGrid()">
        Welcome to explore our
        {{ organisation?.public_repos }} Github repositories under
        {{ organisation?.name }}
      </button>
    </div>
    <div class="side-bar">
      <div class="social-links">
        <img src="../assets/images/icon-github.png" alt="" />
        <img src="../assets/images/icon-blog.png" alt="" />
      </div>
    </div>
    <div class="bubbles">
      <img src="../assets/images/bubble.png" alt="" />
      <img src="../assets/images/bubble.png" alt="" />
      <img src="../assets/images/bubble.png" alt="" />
      <img src="../assets/images/bubble.png" alt="" />
      <img src="../assets/images/bubble.png" alt="" />
      <img src="../assets/images/bubble.png" alt="" />
      <img src="../assets/images/bubble.png" alt="" />
    </div>
  </div>
  